{% load static %}
<div class="pt-16 bg-black">
    <footer class="pt-20 bg-gray-900 text-white">
      <div class="container max-w-6xl mx-auto flex flex-wrap gap-5 justify-between mb-20">
        <!-- Logo and social icons -->
        <div class="w-fit max-w-[300px]">
          <img src="{% static 'assets/img/logo.svg' %}" class="w-64" alt="logo" />
          <p class="max-w-[300px] text-white/55 my-6">
            SEO agencies typically work businesses of all sizes across
            various industries to help them achieve their online
          </p>
            <ul class="flex gap-[15px]">
                <li><a href=""><img src="{% static 'assets/img/linkedin.png' %}" class="h-8"  alt=""></a></li>
                <li><a href=""><img src="{% static 'assets/img/youtube.png' %}" class="h-8"  alt=""></a></li>
                <li><a href=""><img src="{% static 'assets/img/x.png' %}" class="h-8"  alt=""></a></li>
                <li><a href=""><img src="{% static 'assets/img/facebook.png' %}" class="h-8" alt=""></a></li>
            </ul>
        </div>
  
        <!-- Services -->
        <div class="w-fit max-w-[300px]">
          <div class="flex flex-col items-center">
            <div>
              <h1 class="font-semibold text-18 text-white">Services</h1>
              <ul class="mt-3.5">
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                    <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                      <span class="group-hover:translate-x-4 transition-all duration-300">Keyword Research</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Email marketing</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Content marketing</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Web Development</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Social Marketing</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h1 class="font-semibold text-18 text-white mt-8">Solutions</h1>
              <ul class="mt-3.5">
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                    <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                      <span class="group-hover:translate-x-4 transition-all duration-300">Keyword Research</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Email marketing</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Content marketing</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Web Development</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Social Marketing</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- Address and Contact -->
        <div class="w-fit max-w-[300px]">
          <div class="max-w-[223px]">
            
            <div>
              <h1 class="font-semibold text-18 text-white">Courses</h1>
              <ul class="mt-3.5">
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                    <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                      <span class="group-hover:translate-x-4 transition-all duration-300">Keyword Research</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Email marketing</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Content marketing</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Web Development</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="project-details.html">
                    <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 overflow-hidden">
                        <img src="{% static 'assets/img/arrow.svg' %}" class="hover:flex group-hover:translate-x-4 transition-all duration-300" alt="">
                        <span class="group-hover:translate-x-4 transition-all duration-300">Social Marketing</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Address and Contact -->
        <div class="w-fit max-w-[300px]">
          <div class="max-w-[223px]">
            
            <h1 class="font-semibold text-18 text-white">Address</h1>
            <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 mt-3.5">
              <span class="transition-all duration-300">
                55 Street, 2nd block, 3rd Floor Melbourne, Australia
              </span>
            </div>
            <h1 class="font-semibold text-18 text-white mt-6">Contact</h1>
            <div class="flex gap-2 items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 mt-3.5">
              <span class="transition-all duration-300">
                <a href="mailto:[email protected]">[email protected]</a> <br />
            </span>
            </div>
            <div class="flex items-center relative group font-medium text-white/50 hover:text-white hover:underline transition-all duration-300 mt-1">
              <span class="transition-all duration-300">
                <a href="tel:+1234567890">[phone protected]</a>
            </span>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Footer bottom -->
      <div class="bg-black text-white w-full h-[80px] md:h-[65px]">
        <div class="max-w-5xl mx-auto h-full container">
          <div class="w-full h-full flex flex-wrap justify-between items-center">
            <span class="text-white/80 max-w-80">2024 © All rights reserved by <b class="text-white">SAINCUBE</b></span>
            <div class="relative w-full sm:w-fit flex justify-center">
              <a href="#" aria-label="go top" class="w-[45px] h-[45px] rounded-full border-[3px] border-buisness-light-black flex justify-center items-center bg-purple absolute -top-[75px] sm:-top-[55px]">
                <span>
                    <img src="{% static 'assets/img/top.svg' %}" alt="">
                </span>
              </a>
            </div>
            <ul class="max-w-80 flex space-x-3 md:space-x-6 items-center">
              <li class="hover:text-white hover:underline common-transition text-paragraph font-medium">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="text-paragraph font-medium">|</li>
              <li class="hover:text-white hover:underline common-transition text-paragraph font-medium">
                <a href="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
